/* Cover Photo */
.cover-photo {
    height: 90%;
	background: url('../media/gallery.jpg');
	background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
}


/* Photos */
.box__outer{
	height: 23rem;
}

.box__inner {
	height: 23rem;
	padding-top: 9rem;
}

.box__inner .cat_name {
	color: white;
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-weight: 800;
	font-size: 2rem;
    padding-left: 1rem;
}

#riley_cat {
	background: url('../media/gallery/cat.jpg');
	background-size: cover;
}

#sots {
	background: url('../media/gallery/SotS.jpg');
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	width: 100%;
}

#sots__inner{
	background-size: contain;
	object-fit: contain;
	width: 100%;
}


#windmills {
	background: url('../media/gallery/windmills.jpg');
	background-size: cover;
}

#beach_corgi {
	background: url('../media/gallery/corgi.jpg');
	background-size: cover;
}

#lunar_eclipse {
	background: url('../media/gallery/lunareclipsecomposite.jpg');
	background-size: cover;
}

#changdeokgung {
	background: url('../media/gallery/palace.jpg');
	background-size: cover;
}

#minnehaha {
	background: url('../media/gallery/MinnehahaFalls.jpg');
	background-size: cover;
}

#vancouverlake {
	background: url('../media/gallery/vancouverlake.jpg');
	background-size: cover;
}