.cover-photo {
    height: 90%;
	background: url('../media/mechanical.jpg');
	background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.descriptions {
	padding-top: 1rem;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-bottom: 2rem;
	text-align: center;
}

.descriptions img {
	display: block;
    width: 90%;
}

.section {
    padding-bottom: 2rem;
}

/* Photos */
.photos {
	margin-left: 11rem;
}

#photo { 
	margin-top: 3rem;
}

.box__outer {
	height: 27rem;
	margin-bottom: 0rem;
}


#hatch1 {
	background: url('../media/mechanical/Hatch/impactor.png');
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	width: 100%;
}

#hatch2 {
	background: url('../media/mechanical/Hatch/GeneralFusion.jpg');
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	width: 100%;
}

#payload1 {
	background: url('../media/mechanical/Waterloo Rocketry/payload_cubesat.jpg');
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	width: 100%;
}

#payload2 {
	background: url('../media/mechanical/Waterloo Rocketry/payload_cubesat_endface.JPG');
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	width: 100%;
}


#payload3 {
	background: url('../media/mechanical/Waterloo Rocketry/payload_tablet_attachment.JPG');
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	width: 100%;
}

#recovery1 {
	background: url('../media/mechanical/Waterloo Rocketry/recovery_sled.jpg');
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	width: 100%;
}

#recovery2 {
	background: url('../media/mechanical/Waterloo Rocketry/recovery_pibracket.jpg');
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	width: 100%;
}

#recovery3 {
	background: url('../media/mechanical/Waterloo Rocketry/recovery_parachute.jpg');
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	width: 100%;
}

#airframe1 {
	background: url('../media/mechanical/Waterloo Rocketry/Airframe_Nosecone.JPG');
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	width: 100%;
}

#airframe2 {
	background: url('../media/mechanical/Waterloo Rocketry/airframe_fins.jpg');
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	width: 100%;
}

#airframe3 {
	background: url('../media/mechanical/Waterloo Rocketry/airframe_layup.jpg');
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	width: 100%;
}


#airframe4 {
	background: url('../media/mechanical/Waterloo Rocketry/airframe_fincan.jpg');
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	width: 100%;
}

#canrgx1 {
	background: url('../media/mechanical/CAN-RGX/sponsors.jpg');
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	width: 100%;
}

#canrgx2 {
	background: url('../media/mechanical/CAN-RGX/experiment_setup.png');
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	width: 100%;
}

#canrgx3 {
	background: url('../media/mechanical/CAN-RGX/experiment.jpg');
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	width: 100%;
}